.colorpicker {
  position: relative;
  z-index: 1;
  height: 40px;
  width: 260px;
  border: 1px solid $border-color;
  border-radius: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.colorpicker-header {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.selected-hex {
  flex: 1 1 auto;
  padding: 0 10px;
}

.selected-manual {
  height: 20px;
  width: 20px;
  appearance: none;
}

.colorpicker-dropdown-toggler {
  flex: 0 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:not(:first-child) {
    border-left: 1px solid $border-color;
  }

  &.obtained {
    &:after {
      content: '';
      height: 10px;
      width: 10px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='292.362px' height='292.362px' viewBox='0 0 292.362 292.362' style='enable-background:new 0 0 292.362 292.362;' xml:space='preserve'%3E%3Cg%3E%3Cpath fill='%23cdcdcd' d='M286.935,69.377c-3.614-3.617-7.898-5.424-12.848-5.424H18.274c-4.952,0-9.233,1.807-12.85,5.424 C1.807,72.998,0,77.279,0,82.228c0,4.948,1.807,9.229,5.424,12.847l127.907,127.907c3.621,3.617,7.902,5.428,12.85,5.428 s9.233-1.811,12.847-5.428L286.935,95.074c3.613-3.617,5.427-7.898,5.427-12.847C292.362,77.279,290.548,72.998,286.935,69.377z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
      transition: all .2s ease;
    }
    
    &.is-open:after {
      transform: rotate(-180deg);
    }
  }
}
